.bookmark-manager {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #d1d1d1;
    border-radius: 10px;
  }
  
  .bookmark-title {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
  }
  
  .bookmark-list {
    list-style: none;
    padding: 0;
  }
  