.bookmark-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.bookmark-form h2 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.submit-button:hover {
  background-color: #27ae60;
}
